<div class="row">
    <div class="col col-md-6 mx-auto mt-5">
        <div class="car">
            <div class="card-body">
                <h2 class="text-center">Bienvenido al Portal Capital Relacional </h2>
                <div class="image-center">
                    <img src="https://www.ucc.edu.co/institucion/PublishingImages/Paginas/historia/logo-UCC-Universidad-cooperativa-de-colombia.jpg"
                    class="img-fluid" alt="Responsive image">
                  </div>
                <form [formGroup]= "loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="email">Email/Usuario</label>
                        <input type="email" class="form-control" formControlName = "email"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" formControlName = "password"/>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg btn-block">Iniciar Sesión</button>

                </form>
                <div class="form-group mt-3">
                    <p>No tienes una Cuenta?<a [routerLink]="['/register']"> Registrate</a></p>
                   </div>
            </div>
        </div>
    </div>
</div>