<app-navbar></app-navbar>
<div class="container">
    <div class="row">
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
  <ul class="navbar-nav menu main-menu" *ngIf="user$ | async as user; else login">
    <li class="nav-item" *ngIf="user">
    </li>
    <ul class="navbar-nav menu main-menu" *ngIf="user$ | async as user; else login">
      <li class="nav-item" *ngIf="user">

  </ul>
</ul>
<ng-template #login>
  <ul class="navbar-nav mx-auto menu main-menu">
      <li class="nav-item">
          <a href="#" class="nav-link col-sm" routerLink="/login">
              </a>
      </li>
  </ul>

</ng-template>
    </div>
  </div>